.letter {
  float: left;
  margin-right: 80px;
  margin-bottom: 20px;
}
html, body {
  height: 100%;
  width: 100%;
}

body {
  background: url(../hg.png) no-repeat center center;
  background-size: contain;
  overflow: hidden;
}